h1 { font-size:22px;}

body{background-color:gray; color:darkblue; margin-bottom:20px;}

h2 { font-size:20px;}
a {padding:30px;}
p {font-size: 18px;}
img {float:right; margin-bottom:20px; margin-right:20px;
	 margin-left:20px; margin-top:20px;}
